.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table-Head {
  background-color: gray;
  color: white;
}

.Table-Head-Row {
  border-bottom: 3px solid #ddd;
}

.Table-Head-Row th {
  padding: 12px;
  text-align: left;
  border-right: 1px solid #fff;
}

.Table-Body-Row-Cell1 {
  width: 23%;
}

.Table-Body-Row {
  border-bottom: 1px solid #ddd;
}

.Table-Body-Row:nth-child(even) {
  background-color: #f2f2f2;
}

.Table-Body-Row:hover {
  background-color: #f0f0f0;
}

.Table-Body-Row td {
  padding: 12px;
  text-align: left;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.customSvg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: -8px;
}

.skillTitle {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .Table-Head-Row {
    display: none;
  }

  .Table-Body-Row {
    display: block;
    border: 1px solid black;
  }

  .Table-Body-Row td {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    text-align: left;
  }
}
