.Table {
  width: 100%;
  border: solid 2px #333;
  border-collapse: collapse;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .Table {
    font-size: 12px;
  }
  .customSvg {
    width: 0 !important;
  }
}

.skillTitle {
  font-size: calc(100% + 60%);
}
.Table-Head {
  background: #ccc;
}
.Table-Head-Row-Cell1 {
  border: solid 2px #333;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 20%;
}

.Table-Head-Row-Cell2 {
  border: solid 2px #333;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 20%;
}

.Table-Head-Row-Cell3 {
  border: solid 2px #333;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 60%;
}
.Table-Body {
  background: #fff;
}
.Table-Body-Row-Cell {
  border: solid 2px #333;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.testtest {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.customSvg {
  width: 15%;
  margin-top: 2px;
}

.Table-Body-Row-Cell2 {
  border: solid 2px #333;
  text-align: left;
  padding: 5px;
}
