a.btn_blue {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background-color: #0d8c42;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
}
a.btn_blue span.bl__text {
  display: block;
  position: relative;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

a.btn_blue:hover {
  background-color: #0ad86e;
}

@media (768px < width) {
  .container-contact {
    margin: 3rem 12rem 5rem 12rem;
  }
}
@media (768px >= width) {
  .container-career {
    /* padding: 5rem 0 5rem 0; */
  }
  .container-contact {
    /* margin: 10rem 15rem 10rem 15rem; */
  }
}

@media (max-width: 736px) {
  a.btn_blue {
    max-width: 250px;
    padding: 1.5rem 2rem;
    margin-bottom: 20px;
  }
  a.btn_blue span.bl__text {
    font-size: 20px;
  }
}

.contactArea {
  /* height: 30rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
