.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #082e08;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3; /* 上の重ねる優先度を上げる */
  gap: 30%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}

.header-nav-links {
  display: flex;
  justify-content: space-around;
  gap: 45px;
  transition: all 0.3s ease-in-out;
}

.header-nav-links li {
  list-style: none;
}

.header-nav-links a {
  color: white;
  text-decoration: none;
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.burger {
  /* ハンバーガーメニューを隠す */
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.header-toggle .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.header-toggle .line2 {
  opacity: 0;
}
.header-toggle .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

@media screen and (768px < width <= 1024px) {
  .header-nav-links {
    width: 55%;
  }
}
@media screen and (width <= 768px) {
  .header-nav-active {
    transform: translateX(0) !important;
  }

  .header-nav-links {
    /* 場所移動 */
    position: absolute;
    right: 0;
    height: 92vh;
    top: 5vh;
    background-color: #082e08;

    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: unset;

    transform: translateX(100%);
  }

  .burger {
    /* display : none　→　block */
    display: block;
  }
}
