* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #0f4a0f;
  position: relative;
  /* 上の重ねる優先度を上げる */
  z-index: 1;
  gap: 30%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 45px;
  transition: all 0.3s ease-in-out;
}

.nav-links li {
  list-style: none;
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.burger {
  /* ハンバーガーメニューを隠す */
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: red;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.header-toggle .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.header-toggle .line2 {
  opacity: 0;
}
.header-toggle .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* 1024pxを下回る場合 */
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  /* 横スクロールできないようにする */
  .nav-body {
    overflow-x: hidden;
  }

  .nav-active {
    transform: translateX(0) !important;
  }

  .nav-links {
    /* 場所移動 */
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: blue;

    flex-direction: column;
    align-items: center;
    width: 50%;

    transform: translateX(100%);
  }

  /* .nav-links li { */
  /* opacity: 0; */
  /* } */

  .burger {
    /* display : none　→　block */
    display: block;
    /* margin-right: 30px; */
  }
}
