.worksArea {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-around; /* 必須 */
  flex-wrap: wrap; /* 折り返し */
}

.lwrapper_06 {
  margin: 1rem;
  width: 30%;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .lwrapper_06 {
    width: 18rem !important;
  }
}

@media screen and (max-width: 834px) {
  .lwrapper_06 {
    width: 40%;
  }
}

.lwrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
  cursor: pointer;
}
.card_06 {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.cardimg_06 {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.cardcontent_06 {
  text-align: left;
}
.cardtitle_06 {
  font-size: 1.2em;
  color: #333;
  font-weight: 700;
  margin: 0.5rem 0px 0.5rem 0px;
}
.carddescription {
  margin-top: 10px;
}
.cardlink_06 {
  border-top: 1px solid #eee;
  padding: 10px;
}

.cardlink_06 a:hover {
  color: #6bb6ff;
}

.testkk {
  display: flex;
  gap: 4px;
  color: #4f96f6;
}

.testaa {
  text-decoration: none;
  color: black;
}
