.worksArea {
  display: flex;
  justify-content: space-around; /* 必須 */
  flex-wrap: wrap; /* 折り返し */
  margin-top: 20px;
  gap: 10px;
}

.lwrapper_06 {
  margin: 1rem;
  text-decoration: none;
}

/* 画面サイズ 600px 未満 */
@media (width < 600px) {
  .card {
    width: 80%;
    height: auto;
  }
}

/* 画面サイズ 600px 以上 1200px 未満 */
@media (600px <= width < 1200px) {
  .card {
    width: 45%;
    height: auto;
  }
}

/* 画面サイズ 1200px 以上 */
@media (1200px <= width) {
  .card {
    /* 正方形のため固定値に設定 */
    width: 350px;
    height: 350px;
  }
}

.lwrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
  cursor: pointer;
}
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-top: 20px;
}

.cardimg_06 {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.cardcontent_06 {
  text-align: left;
}

.cardtitle_06 {
  font-size: 1.2em;
  color: #333;
  font-weight: 700;
  /* margin: 0.5rem 0px 0.5rem 5px; */
  /* padding: 10px; */
  margin-bottom: 10px;
  margin-top: 10px;
}
.carddescription {
  /* margin-top: 10px; */
}
.cardlink_06 {
  border-top: 1px solid #eee;
  padding: 10px;
  text-align: left;
  margin-top: 40px;
}

.cardlink_06 a:hover {
  color: #6bb6ff;
}

.testkk {
  display: flex;
  gap: 4px;
  text-decoration: none;
  color: black;
}
