.content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customImg {
  border-radius: 50%;
  width: 230px;
}

.text2 {
  margin-left: 80px;
  width: 30%;
  text-align: left;
}
.customTable {
  gap: 10px;
  display: flex;
  justify-content: center;
}
