.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #227c22;
  height: 35vh;
}

.circle {
  width: 15vh;
  height: 15vh;
  background-color: #07eb07;
  border-radius: 15vh;
  position: relative;
  top: -5vh;
  transform: rotate(180deg);
}

.footerText {
  color: white;
  font-size: 3rem;
}

.backToTop {
  background-color: #07eb07;
  display: flex;
  justify-content: center;
  height: 7rem;
}
