@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

.career-area {
  background-color: #ecefed;
}

.text-box {
  text-align: left;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.container2 {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

/* $border-color: rgba(black, 0.3); */

.timeline-item {
  padding: 3em 2em 5em;
  z-index: 0;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 8px solid #007a33;

  p {
    font-size: 1rem;
    margin-top: 10px;
  }

  &::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
  }

  &::after {
    width: 20px;
    height: 20px;
    display: block;
    top: 9px;
    position: absolute;
    left: -16px;
    border-radius: 15px;
    content: "";
    border: 2px solid rgb(20, 165, 20);
    background: white;
  }
}
