.careerArea {
  background-color: #ecefed;
}

.careerContainer {
  width: 90%;
  margin: 0 auto;
}

.timelineItem {
  padding: 3em 2em 5em;
  z-index: 0;
  position: relative;
  border-left: 8px solid #007a33;

  &::before {
    content: attr(date-is);
    position: absolute;
    left: 1em;
    top: 4px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #227c22;
  }

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    top: 9px;
    position: absolute;
    left: -16px;
    border-radius: 15px;
    border: 2px solid rgb(20, 165, 20);
    background: white;
  }
}

.textBox {
  text-align: left;
  margin-top: 5px;
}

.timelineDescription {
  line-height: 2;
  margin-top: 5px;
}
