.App {
  text-align: center;
}

@media (width < 768px) {
  .section {
    margin: 15px 0 0 0;
  }
}

/* 画面サイズ 600px 以上 1200px 未満 */
@media (768px <= width < 1200px) {
  section {
    margin: 7rem 1rem 0rem 1rem;
  }
}

/* 画面サイズ 1200px 以上 */
@media (1200px <= width) {
  section {
    margin: 7rem 10rem 0rem 10rem;
  }
}
